.ball {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.6), 0 3px 6px rgba(0, 0, 0, 0.5);
}

/* 颜色基础样式 */
.red {
  background: linear-gradient(145deg, #ff6666, #cc0000);
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.yellow {
  background: linear-gradient(145deg, #ffff66, #999900);
  color: #222;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

.blue {
  background: linear-gradient(145deg, #66ccff, #005588);
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

/* 投中状态：亮度高 + 动画 */
.active {
  //   border-color: #00ff00;
  //   box-shadow: 0 0 0 2px #00ff00, inset 0 2px 4px rgba(255, 255, 255, 0.6), 0 4px 8px rgba(0, 0, 0, 0.5);
  //   background: linear-gradient(145deg, #66cdaa, #2e8b57); /* 薄荷绿渐变 */
  //   border-color: #66cdaa;
  //   color: #fff;
  animation: pulse 1.2s ease-in-out infinite;
}

/* pulse 动画 */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
    background: linear-gradient(145deg, #66cdaa, #2e8b57);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
