:root {
  --foreground-rgb: 0, 0, 0;
  --pageground-rgb: 245, 247, 253;
  --info-color: #909399;
  --warning-color: #e6a23c;
  --danger-color: #f56c6c;
  --primary-color: #409eff;
  --white-color: #ffffff;
  --success-color: #67c23a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--pageground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}