:root {
  --foreground-rgb: 0, 0, 0;
  --pageground-rgb: 245, 247, 253;
  --white-rgb: 255, 255, 255;
  --info-rgb: 144, 147, 153;
  --warning-rgb: 230, 162, 60;
  --danger-rgb: 245, 108, 108;
  --primary-rgb: 64, 158, 255;
  --success-rgb: 103, 194, 58;
  --title-rgb: 153, 153, 153;
  --desc-rgb: 102, 102, 102;
  --info-color: rgba(var(--info-rgb), 1);
  --warning-color: rgba(var(--warning-rgb), 1);
  --danger-color: rgba(var(--danger-rgb), 1);
  --primary-color: rgba(var(--primary-rgb), 1);
  --white-color: rgba(var(--white-rgb), 1);
  --success-color: rgba(var(--success-rgb), 1);
  --title-color: rgba(var(--title-rgb), 1);
  --desc-color: rgba(var(--desc-rgb), 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--pageground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
