.page-box {
  width: 900px;
  height: 2600px;
  box-sizing: border-box;
  font-size: 18px;
  color: #333333;
}

.column {
  display: flex;
  flex-direction: column;
}

.module-box {
  margin-top: 20px;
}

.module-title {
  border-bottom: 1px solid rgba(54, 121, 189, 0.15);
  box-sizing: border-box;
  padding: 10px 0;
  font-size: 22px;
  font-weight: bold;
  color: #3679bd;
}

.module-title-icon {
  font-size: 20px;
}

.module-ul {
  margin: 20px 0 0 0;
}

.module-li {
  margin-top: 10px;
  line-height: 1.2;
}

.duty-ul {
  font-size: 16px;
  margin-left: -20px;
}

.duty-li {
  margin-top: 8px;
  line-height: 1.2;
}

.thanks {
  margin: 30px 0 0 25px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}
