.toolWrap {
  margin-bottom: 16px;
}

.listWrap {
  padding: 16px;
}

.itemWrap {
  background-color: rgba(var(--white-rgb), 0.9);
  border-radius: 4px;
  padding: 8px;
  margin-top: 12px;
  font-size: 16px;
  color: var(--desc-color);
  line-height: 22px;
  font-weight: 400;

  &:nth-child(1) {
    margin-top: 0px;
  }

  .itemRow {
    margin-top: 8px;

    &:nth-child(1) {
      margin-top: 0px;
    }

    .title {
      color: var(--title-color);
      white-space: nowrap;
    }

    &.row {
      display: flex;

      .title {
        transform: translateY(5px);
      }
    }

    &.type {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        font-size: 18px;
      }
      .toolBtn{
        display: inline-flex;
        align-items: center;
      }
      .tagBtn {
        font-size: 12px;
        line-height: 1;
        display: inline-block;
        padding: 4px 5px;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        margin-left: 8px;
        border-radius: 4px;
        &:nth-child(1){
          margin-left: 0px;
        }
        &.remove {
          border-color: var(--danger-color);
          color: var(--danger-color);
        }
      }
    }

    .ball {
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      width: 26px;
      height: 26px;
      display: inline-block;
      position: relative;
      margin: 4px 0 4px 8px;
      border: 2px solid var(--primary-color);
      border-radius: 50%;
      color: var(--primary-color);
      font-weight: 700;

      &:nth-child(1) {
        margin: 4px 0 4px 0;
      }

      &.red {
        color: var(--danger-color);
        border-color: var(--danger-color);
      }

      &.active {
        border-color: var(--success-color);
        color: var(--success-color);
        line-height: 22px;
      }
    }

    .notDrawn {
      color: var(--warning-color);
    }

    .notWin {
      color: var(--info-color);
    }

    .win {
      color: var(--danger-color);
      font-weight: 700;
    }
  }
}
